.btn{
    height:200px;
    width:200px;
    border-radius:20%;
    border:10px solid black;
    margin:2.5rem;
}
.btn-container{
    display:flex;
    justify-content:center;
}
.red{
    background-color: brown;
}
.yellow{
    background-color: rgb(255, 187, 0);
}
.green{
    background-color: greenyellow;
}
.purple{
    background-color: purple;
}
.gameflash{
    background-color: aliceblue;
}
.userflash{
    background-color: green;
}
body {
    text-align: center;
    background-image: url('efe-kurnaz-RnCPiXixooY-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
body {
    text-align: center;
    background: linear-gradient(to bottom right, #ff8d70, #d453b4); 
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease-in-out; 
}
h1 {
    font-size: 4rem; 
    font-family: 'Bungee', sans-serif; 
    font-weight: bold; 
    color:#33ff5f; 
    background-clip: text; 
    text-align: center; 
    margin: 20px auto; 
}


